<?xml version="1.0" encoding="utf-8"?>
<module>
    	<name>Mail Boxes Plus</name>
    	<version>115</version>
		<type>user</type>
    	<defaultcat>Mail</defaultcat>
    	<desc>Using this module you have the ability to create IMAP and POP3 Mailboxes. Use only with packages_plus</desc>
    	<authorname>Diablo925</authorname>
    	<authoremail>Carsten@alio.dk</authoremail>
    	<authorurl></authorurl>
    	<updateurl></updateurl>
</module>